<a href="https://colab.research.google.com/github/ksy3233/ksy3233/blob/main/11202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#2022학년도 1학년 1학기 프로그래밍 (파이썬)수행평가
#한양공업고등학교 1학년 12반 2번 김성훈

In [2]:
삼성전자 = 50000
print("총 평가 금액 =", 삼성전자*10 )

총 평가 금액 = 500000

In [6]:
year = "2020"
print (int(year)-1)
print (int(year)-2)
print (int(year)-3)

2019
2018
2017

In [10]:
string = "홀짝홀짝홀짝"
string[ : :2]

'홀홀홀'

In [13]:
string = "python"
string[: :-1]

'nohtyp'

In [17]:
movie_rank = ["닥터스트레인지" , "스플릿","럭키","배트맨"]
movie_rank.insert(1,"슈퍼맨")
movie_rank

['닥터스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [19]:
nums = [1,2,3,4,5,6,7,8,9,10]
nums[::2]

[1, 3, 5, 7, 9]

In [22]:
data = [2,4,3,1,5,10,9,]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

In [26]:
name1 = "김민수"
age1  = 10 
name2 = "이철희"
age2  = 13
s = "이름:{} 나이:{}"
print(s.format(name1,age1))
print(s.format(name2,age2))

이름:김민수 나이:10
이름:이철희 나이:13